@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

.leaflet-container {
  font-family: inherit;
  background: #f8fafc;
}

.leaflet-tooltip {
  font-size: 12px;
  padding: 6px 8px;
  border-radius: 6px;
}
